{% extends './base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block title %}
  <title>Cadastro</title>
{% endblock title %}

{% block content %}
  <main>
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-bg-danger border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                        </svg>
                        <strong class="me-auto text-white">Erro</strong>
                        <small class="text-white">Agora</small>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body text-dark">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% elif message.tags == 'success' %}
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-bg-success border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                        <strong class="me-auto text-white">Sucesso</strong>
                        <small class="text-white">Agora</small>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body text-dark">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% elif message.tags == 'warning' %}
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-bg-warning border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        <strong class="me-auto">Atenção</strong>
                        <small>Agora</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body text-dark">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% elif message.tags == 'info' %}
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-bg-info border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                        </svg>
                        <strong class="me-auto">Informação</strong>
                        <small>Agora</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body text-dark">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <fieldset>
      <h1><a class="logo" href="{% url 'inicio' %}">Ateliê</a></h1>
      <span class="padding-bottom-top">Faça sua conta</span>
      <form action="{% url 'cadastrar' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="field padding-bottom--12">
            <label for="{{ form.nome.id_for_label }}">Nome</label>
            {{ form.nome }}
        </div>
        <div class="field padding-bottom--12">
            <label for="{{ form.username.id_for_label }}">Usuário/acesso</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="{{ form.senha.id_for_label }}">Senha</label> 
            <div class="input-group">
                {{ form.senha }}
                <button class="btn btn-outline-secondary" type="button" id="btn-senha" onclick="toggleSenha()" style="border-color: #ced4da;">
                    <svg id="icone-olho" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="field padding-bottom--12">
            <label for="{{ form.sexo.id_for_label }}">Sexo</label>
            {{ form.sexo }}
        </div>
        <div class="field padding-bottom--12">
            <label for="{{ form.telefone.id_for_label }}">Telefone</label>
            {{ form.telefone }}
        </div>
        <div class="field padding-bottom--12 mt-3">
          <input type="submit" name="submit" value="Cadastrar">
        </div>
      </form>
      <div class="footer-link">
        <span>Já tem uma conta? <a href="{% url 'login' %}">Login</a></span>
      </div>
    </fieldset>
  </main>
{% endblock content %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $('#telefone').mask('(00) 00000-0000');
    </script>
{% endblock script %}