<header>
    <div class="logo">
        <abbr title="Página inicial">
            <a href="{% url 'inicio' %}">
                <h3>Voltar</h3>
            </a>
        </abbr>
    </div>
    <button 
        type="button" 
        class="btn btn-primary btn-lg" 
        data-bs-toggle="modal" 
        data-bs-target="#modalPedido"
        {% if qtde_servico == 0 %} disabled {% endif %}
    >
        Novo pedido
    </button>
    <h3>{{ telefone }}</h3>
    <a href="{% url 'deslogar' %}">
        <button type="button" class="btn btn-danger">Sair</button>
    </a>
</header>

<!-- Modal pedidos-->
<div class="modal fade" id="modalPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Realizar novo pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <button 
                type="button" 
                class="btn btn-primary btn-lg" 
                id="addImg"
            >
                Adicionar imagem
            </button>
            <form action="{% url 'pedido' %}" id="formularioPedido" method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="modal-body">
                    {% csrf_token %}

                    <div id="novaImagem"></div>

                    {{ form }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal visualizar pedido-->
{% for pedido in pedidos %}
    <div class="modal fade" id="modalVerPedido{{ pedido.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Pedido número ({{ pedido.id }})</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if pedido.img.all %}
                        <div id="carouselExampleIndicators{{ pedido.id }}" class="carousel slide">
                            <div class="carousel-indicators">
                                {% for pedido in pedido.img.all %}
                                    <button 
                                        type="button" 
                                        data-bs-target="#carouselExampleIndicators{{ pedido.id }}" 
                                        data-bs-slide-to="{{ forloop.counter0 }}" 
                                        {% if forloop.first %}class="active" aria-current="true"{% endif %} 
                                        aria-label="Slide {{ forloop.counter }}">
                                    </button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for pedido in pedido.img.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ pedido.img.url }}" class="d-block w-100" alt="Imagem do pedido">
                                    </div>
                                {% endfor %}
                            </div>
                            {% if pedido.img.all|length > 1 %}
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ pedido.id }}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Anterior</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ pedido.id }}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Próximo</span>
                                </button>
                            {% endif %}
                        </div>
                    {% else %}
                        <h5>Nenhuma imagem foi anexada</h5>
                    {% endif %}
                    <h4><span class="badge text-bg-secondary">{{ pedido.roupa.roupa }} ({{ pedido.tecido.tecido }})</span></h4>
                    <p class="card-text">
                        <h5>
                            Serviços:
                            {% for s in pedido.servico.all %}
                                <span class="badge rounded-pill text-bg-dark">
                                    {{ s.servico }}
                                </span>
                            {% endfor %}
                        </h5>
                    </p>
                    <p class="card-text">
                        {{ pedido.detalhes }}
                    </p>
                </div>
                <div class="modal-footer">
                    Ficar pronto em {{ pedido.data_conclusao }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<main>
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    {% if pedidos %}
        {% regroup pedidos by status as pedidos_agrupados %}
        {% for grupo in pedidos_agrupados %}
            {% if grupo.grouper == 1 %}
                <div class="alert alert-dark mt-4" role="alert">Pedidos recebidos</div>
            {% elif grupo.grouper == 2 %}
                <div class="alert alert-warning mt-4" role="alert">Pedidos em andamento</div>
            {% elif grupo.grouper == 3 %}
                <div class="alert alert-success mt-4" role="alert">Pedidos concluídos</div>
            {% elif grupo.grouper == 4 %}
                <div class="alert alert-danger mt-4" role="alert">Pedidos cancelados</div>
            {% endif %}

            <div class="card-pedido">
                {% for pedido in grupo.list %}
                    <div class="card text-white bg-info mb-3" style="width: 18rem;">
                        <div class="card-header">
                            <p class="card-text">
                                <h5>
                                    <span class="badge rounded-pill text-bg-dark">
                                        Pedido Nº {{ pedido.id }} - {{ pedido.roupa.roupa }} ({{ pedido.tecido.tecido }})
                                    </span>
                                </h5>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Criado em {{ pedido.data_pedido }}
                                </small>
                            </p>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-danger">Excluir</a>
                                <a href="#" class="btn btn-secondary" data-bs-toggle="modal"  data-bs-target="#modalVerPedido{{ pedido.id }}">Abrir</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Preço</h5>
                            <p class="card-text">
                                <h5>
                                    <span class="badge rounded-pill text-bg-dark">{{ pedido.preco }}</span>
                                </h5>
                            </p>
                            <h5 class="card-title">Observações</h5>
                            {% if pedido.observacao == "Nenhuma observação" %}
                                <p class="card-text">
                                    <h5>
                                        <span class="badge rounded-pill text-bg-dark">{{ pedido.observacao }}</span>
                                    </h5>
                                </p>
                            {% else %}
                                <fieldset disabled>
                                    <div class="form-group">
                                        <textarea 
                                            class="form-control" id="exampleFormControlTextarea1" 
                                            rows="3"
                                        >
                                        {{ pedido.observacao }}
                                        </textarea>
                                    </div>
                                </fieldset>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum pedido encontrado.</p>
    {% endif %}
</main>