{% extends './base.html' %}
{% load static %}

{% block css %}
    {% if isCliente %}
        <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/administrador.css' %}">
    {% endif %}
{% endblock css %}

{% block title %}
    <title>
        {% if isCliente %}Cliente{% else %}Administrador{% endif %}
    </title>
{% endblock title %}

{% block content %}

    {% if isCliente %}
        {% include "cliente.html" %}
    {% else %}
        {% include "administrador.html" %}
    {% endif %}
    
{% endblock content %}

{% block script %}
    {% if isCliente %}
        <script src="{% static 'js/cliente.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    {% else %}
        <script src="{% static 'js/administrador.js' %}"></script>
    {% endif %}
{% endblock script %}